
.login-wrapper{
    padding:0px;
    margin:0px;
    background-image: url('../../assets/image/Background.png');
    background-size:100% 100vh;
    height: 99vh;
    background-repeat: no-repeat;
    border:1px solid white;
    /* width: 100%; */
}
.login-form{
    width: 400px;
    height: 430px;
    /* border:1px solid green; */
    /* margin-left: 99px;
    margin-top: 70px; */
    margin:8%
}
.login-form h1{
    color: #3B99EB;
    font-family: 'Open Sans', sans-serif;

}
.login-form p{
    color: #808080;
}
.login-form h3{
    font-size: 24px;
    color: #808080;
    margin-top: 50px;
}
.form-login{
    margin-bottom: 10px!important;
    width: 260px;
  height: 40px!important;

    /* border:1px solid black!important */
}
.btn-login{
    text-transform: none!important;
    width:260px;
    border-radius: 24px!important;
  box-shadow: 0 3px 6px 0 rgba(233, 30, 99, 0.2)!important;
}
/* .MuiInputLabel-outlined {
    z-index: 1;
    transform: translate(14px, 13px) scale(1)!important;
    pointer-events: none;
} */